body {
    background-color: blueviolet;
    background-image: url("img/pozadina.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    background-color: rgba(255, 255, 255, 0.3);
    margin-left: 200px;
    margin-right: 200px;
}

main {
    background-color: transparent;
}

footer {
    background-color: rgba(255, 255, 255, 0.3);
    margin-left: 200px;
    margin-right: 200px;
}

div {
    background-color: rgba(128, 128, 128, 0.7);
    margin-left: 200px;
    margin-right: 200px;
}