body {
    background-color: brown;
    background-image: url("pozadina.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    background-color: transparent;
    margin-left: 300px;
    margin-right: 300px;
}

.stil2 {
    background-color: transparent;
    margin-left: 100px;
    margin-right: 100px;
}

footer {
    background-color: transparent;
    margin-left: 100px;
    margin-right: 100px;

}

.stil1 {
    background-color: rgba(128, 128, 128, 0.5);
    margin-left: 200px;
    margin-right: 200px;
}

.stil_slova {
    margin-left: 20px;
    color: white;
}

img {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

a:link {
    color: black;
    font-size: 30px;
    background-color: transparent;
    background-image: url("dugme.png");
    background-size:  cover;
    text-decoration: none;
}

a:visited {
    color: black;
    background-image: url("dugme.png");
    background-size: cover;
}

a:hover {
    color: black;
    background-image: url("dugme_hover.png");
    background-size: cover;

}

a:active {
    background-image: url("dugme.png");
    background-size: cover;
}


.navbar {
    color: brown;
    background-color: black;
}


