

html body {
    height: 100vh;
}

.kontejner {

}

.zaglavlje {}

.navigacija {
    box-shadow: 10px 10px 20px black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.navigacija ul {
    display: flex;
    list-style: none;
}

.navigacija ul li {
    width: 100px;
    margin: 10px;
    padding: 10px;
}

.navigacija ul li a {
    text-decoration: none;
}

.navigacija ul li a:link {
    color: black;
}

.navigacija ul li a:visited {
    color: black;
}

.aktivan, .navigacija ul li:hover {
    box-shadow: 10px 10px 20px black;
    border-radius: 10px;
}


.navigacija-padajuca {
    display: none;
}

.navigacija ul li:hover .navigacija-padajuca {
    display: block;
    position: absolute;
    background-color: white;
    text-align: left;
    box-shadow: 10px 10px 20px black;
    border-radius: 10px;
}

.navigacija ul li:hover .navigacija-padajuca ul {
    display: block;
    padding: 20px;
}

.navigacija-padajuca-jos {
    display: none;
}

.preko-dugmeta:hover .navigacija-padajuca-jos {
    display: block;
    position: absolute;
    background-color: white;
    text-align: left;
    box-shadow: 10px 10px 20px black;
    border-radius: 10px;
}




.sadrzaj {}

.podnozje {}