body {
    background-color: grey;
}



header {
    background-color: yellow;
}

main {
    background-color: blue;
}

footer {
    background-color: red;
}

div {
    margin-left: 200px;
    margin-right: 200px;
    background-color: white;
}

