body {
    background-color: chartreuse;

}



vahid {
    font-size: 56px;
    color: blueviolet;
    background-color: red;
}

rijalda {
    font-size: 44px;
    color: red;
}

sena {
    font-size: 38px;
    background-color: red;
}

rama {
    font-size: 33px;
    color: green;
    background-color: black;
}

rodjeni {
    font-size: 55px;
    color: blue;
}