body {
    margin: 0;
    background-image: url("pozadina.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.kontejner {
    height: 100vh;
    display: grid;
    grid-template: 1fr 50px 1fr 100px / repeat(6, 1fr);

}

.zaglavlje {
    background-color: black;
    grid-row: 1/2;
    grid-column: 1/-1;
}

.navigacija {
    background-color: transparent;
    grid-row: 2/3;
    grid-column: 1/-1;
}

.sadrzaj {
    background-color: grey;
    opacity: 0.7;
    grid-row: 3/4;
    grid-column: 1/-1;

    margin: 50px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px black;

    display: grid;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr) ;
}

.podnozije {
    background-color: transparent;
    grid-row: 4/5;
    grid-column: 1/-1;
    text-align: center;
}

.levo1 {
    background-color: transparent;
    grid-row: 1/2;
    grid-column: 2/3;
}

.desno1 {
    background-color: transparent;
    grid-row: 1/2;
    grid-column: 3/4;
}

.levo2 {
    background-color: transparent;
    grid-row: 2/3;
    grid-column: 2/3;
}

.desno2 {
    background-color: transparent;
    grid-row: 2/3;
    grid-column: 3/4;
}

.levo3 {
    background-color: transparent;
    grid-row: 3/4;
    grid-column: 2/3;
}

.desno3 {
    background-color: transparent;
    grid-row: 3/4;
    grid-column: 3/4;
}

.levo4 {
    background-color: transparent;
    grid-row: 4/5;
    grid-column: 2/3;
}

.desno4 {
    background-color: transparent;
    grid-row: 4/5;
    grid-column: 3/4;
}

.video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
}