body {
    /* background-color: grey; */
    background-image: url("pozadina.jpg");
}

.navigacija a:link, a:visited {
    color: white;
    font-size: 30px;
    text-decoration: none;
    padding: 30px;
}

.navigacija a:hover {
    color: red;
    background-color: blue;
}

.navigacija a:active {
    color: white;
}


a:link, a:visited {
    color: white;
    font-size: 12px;
    text-decoration: none;
}


p {
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}


header {
    background-color: white;
    margin-right: 20%;
    margin-left: 20%;
    border-radius: 10px;
    box-shadow: 10px 10px 20px black;
    opacity: 0.7;
}

nav {
    background-color: yellow;
    margin-right: 20%;
    margin-left: 20%;
    border-radius: 10px;
    box-shadow: 10px 10px 20px black;
    opacity: 0.7;
}

main {
    background-color: white;
    margin-right: 20%;
    margin-left: 20%;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px black;
    opacity: 0.7;
}

footer {
    background-color: white;
    margin-right: 20%;
    margin-left: 20%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 10px 10px 20px black;
    opacity: 0.7;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}